html * {
  font-family: "Comfortaa", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  transition: all 0.35s;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
}

.content-container {
  background-image: url("../assets/media/Frame.svg");
  background-position: cover;
  background-size: 100%;
  flex-grow: 1;
  position: relative;
}
